appdirs==1.4.2
bleach==2.1.2
colorama==0.3.9
cycler==0.10.0
Cython==0.27.3
daetools==1.7.0
decorator==4.2.1
entrypoints==0.2.3
h5py==2.7.0
html5lib==1.0.1
ipykernel==4.8.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.0.3
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
ngram==3.3.2
notebook==5.4.0
numpy==1.12.0+mkl
opencv-python==3.2.0.6
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.2
parso==0.1.1
patsy==0.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.2.0
psutil==5.4.3
Pygments==2.2.0
pyparsing==2.1.10
PyQt4==4.11.4
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2016.10
pywinpty==0.5.1
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.8.1
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
tensorflow==1.0.0
terminado==0.8.1
testpath==0.3.1
Theano==0.9.0
tornado==4.5.3
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.3
win-unicode-console==0.5
xlwt==1.2.0
